.block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }
.title{
    height: 50px;
    font-family: var(--Roboto);
    font-size: var(--sizeTextMobile);
    color: var(--colorText);
    width: 50%;
    line-height: 25px;
}
.wrapperLabel{
    display: flex;
    align-items: center;
}
.labelBlock{
    display: flex;
    align-items: center;
}
.label{
    font-family: var(--Roboto);
    display: block;
    margin-right: 8px;
    color: #3E80FA;
    font-size: 14px;
}
.icon{
    width: 40px;
}
.file{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.rectangle{
    display: block;
    width: 136px;
    height: 10px;
    margin-left: 30px;
  }